@font-face {
  font-family: 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.cdnfonts.com/s/26084/VERDANAI.woff) format('woff');
}  

body {
  font-family: 'Verdana', sans-serif;
}

.border-torrowpurple-900 {
  --tw-border-opacity: 1;
  border-color: rgb(160 200 20 / var(--tw-border-opacity));
}

.bg-torrowpurple-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(160 200 20 / var(--tw-bg-opacity));
}

.fill-torrowpurple-900 {
  fill: rgb(160 200 20);
}

.text-torrowpurple-900 {
  --tw-text-opacity: 1;
  color: rgb(160 200 20 / var(--tw-text-opacity));
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(160 200 20 / var(--tw-text-opacity));
}

.hover\:bg-torrowpurple-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(127 255 162 / var(--tw-bg-opacity));
}

.hover\:bg-torrowpurple-900:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(160 200 20 / var(--tw-bg-opacity));
}
.focus\:ring-torrowpurple-300:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(191 255 208 / var(--tw-ring-opacity));
}
.dark .dark\:bg-torrowpurple-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(143 255 173 / var(--tw-bg-opacity));
}
.dark .dark\:hover\:bg-torrowpurple-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(127 255 162 / var(--tw-bg-opacity));
}
.dark .dark\:focus\:ring-torrowpurple-800:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(111 255 150 / var(--tw-ring-opacity));
}
.bg-pink-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 255 182 / var(--tw-bg-opacity));
}

.bg-pink-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(236 255 153 / var(--tw-bg-opacity));
}
